<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UOOpenAIServer.Properties.AIProfile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UOOpenAIServer.Properties.AIProfile>
            <setting name="API_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="Model" serializeAs="String">
                <value>gpt-3.5-turbo</value>
            </setting>
        </UOOpenAIServer.Properties.AIProfile>
    </userSettings>
</configuration>